* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


:root{
    --primary-color:rgb(76, 179, 226);
    --primary-font:#585c5c;
    --section-font:#e4dbda;
    --border-color1:rgb(167, 161, 57);
    --background-mono:#317da0b7;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    background-color:var(--primary-color);
}
p{
    font-size:20px;
}
header{
background-color:var(--primary-color);
margin: auto;
padding:auto;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
text-shadow: 0 0 10px rgba(0,0,0,.5);

border-bottom: solid 3px var(--border-color1);

}

header h1{
font-weight: bold;

display: inline;
color: var(--section-font);
font-size: 60px;
flex: 1;
}
header nav{
    
    float: right;
}
header nav ul{
display:flex;
flex-wrap: wrap;

}
header nav ul li{
   
   font-size: 30px;
   display: inline;
   padding: 0 10px 0 10px;
   margin: auto;
   align-items: center;
   color:var(--primary-font);
   
}
.hero{
    width:100%;
    height:auto;
    background-size: cover;
    margin:0;
    background-image: url('../img/tech_backdrop2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center
}
section{
    background-color:var(--background-mono) ;
    
}


.section-title{
    
    font-size: 40px;
    margin: 0;
    bottom: border 1px ;
    border-right:2px var(--border-color1);
    display: flex;
    flex-wrap: wrap;

    
    
}
.section-title p{
    display: inline;
}


.section-title h2{
    color: var(--section-font);
    border-bottom: 4px solid var(--border-color1);
   /* background-image: url("../img/brick.jpg");
    background-size: auto; */
    /*margin-bottom: 10px;*/
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    

    
    
    
}

.about-me{
    
    border-bottom:solid 3px var(--border-color1);
    padding: 20px 0 20px 0;
}

.about-me img{
    width: 40%;
    flex-shrink: 0;
    display: inline;
    border-radius: 15px;
    border-width: 5px ;
    border-color: var(--border-color1);
    border-style: solid;
    
}
.aboutbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align: top;
   
    

}


.about-me p{
    display: inline;
    width: 40% ;
    border-radius: 15px;
    border-width: 5px ;
    border-color: var(--border-color1);
    border-style: solid;
    background-color: var(--primary-color);
    align-items: center;
    /*margin: 0 30px 0 30px;*/
    text-align:center;
    
    

   /* padding: 30px;*/

    color:#e4dbda;
}





/*
#headshot{
    width: 30%;
    
    float:right;
}*/
.grid-container{
   
    display: grid;
    grid-template-columns: repeat(6,1fr);
    row-gap: 30px;
    column-gap: 5px;
   
    
    /*grid-template-columns:[column1] 30px [column2] 40px [column3] auto [column4]auto [column5]40px [column6]40px ;
    grid-template-rows: [row1]50px [row2]50px [row3]50px [row4] 50px [row5]50ps;*/

    
}
.project-container {
    
    border-style: solid;
    border-color: var(--border-color1);
    height:75px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    color:var(--section-font);
    
    border-width: 3px;
    
}

/*
.project-container p{
    opacity: 0;
}
.project-container:first h3{
    opacity: 0;
}*/
.grid-container:first{
    padding: 20px;
    border-style: solid;
    border-color: var(--border-color1);
    border: 3px;
    border-radius: 10px;
    /*align-content: center;*/
    text-align: center;
  
    justify-content: center;
}
.runbuddy{
    
    background-image: url(../img/runbuddy-pic.PNG);
    grid-column-start: 1;
    grid-column-end: 7;
    background-size: cover;
}

    

.carbon {
    background-image: url(../img/carbon\ fiber.jpg);
    background-size: cover;
}

.pro2 {
grid-column-start: 1;
grid-column-end: 4;



}
.pro3{
    grid-column-start: 4;
    grid-column-end: 7;
    
     
}

/*
.project:first{
    width:100%;
    grid-column-start: column2;
    grid-column-end: column4;
}
*/


.project-container a :hover{
background-color:  rgba(102, 207, 207, 0.5);
}
/*
.left-contact{
    display: inline;
}
.right-contact a{
    display:inline;
}
*/

.contact-me{
    display: flex;
    flex-wrap: wrap;
}
.contact-info{
    
    text-align: left;
    
    margin:30px;
    



}
.contact-info h3{
    font-size: 30px;
    color: var(--primary-font);
    display: inline;
    
}
.contact-info address{
    font-size: 20px;
    color: var(--primary-font);
   display: inline;
}
.linkedin img {
    width: 50px;
}

@media screen and (max-width: 980px) {
    
    header nav ul li{
        width:100%;
    }
     
    .hero img{
        width: 100%;;
    }
    .hero p{
        width:100%;
    }
    
  }

  @media screen and (max-width: 768px) {
    section{
      padding: 30px 15px;
    }
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
    
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   .hero img{
       width: 100%;
   }
    
  }